


body{
     
     /*background-image: URL("./images/background.jpg");*/
     background-color: 	#FFBBFF ;
    }

h1 {
    font-family:sans-serif; 
    font-size: 50px;
    color: #8B7B8B;
    text-align: center;
    }
    
h2 {
    font-family:sans-serif; 
    font-size: 30px;
    color: #8B7B8B;
    text-align: center;
    }
      
ul{
   list-style-type: none;
   margin:0;
   padding:0;
   
  }
	
li {
   display: inline-block; 
   padding: 50px 30px 50px 30px;
   color: black;
   font-size: 22px;
   width: 60px;
   color: white;
   /*border-right: 1px solid white;*/
   
   
   }  
   
.menu{
      background-color: #CDC1C5;
      position: relative;
      bottom: 10px;
 }
   
.active{
        Color: black;
        /*display:block;*/
        /*padding: 14px 5px 0px 10px;/*/
         }
         
.image {
float:left;
}

img{
     width:395px;
     height: 300px;
     margin: 0 20px;
     }


p
 {text-align:center; 
  color: #8B7B8B;
  font-size: 20px;
  font-weight:bold;
  
 }