
html{
  box-sizing:border-box; 
}

*, *:before, *after{
  box-sizing:inherit; 
}

#box{
  width: 600px;
  height:600px;
  background-color:purple;
  border-radius: 50% }
  
  #box2{
  width: 200px;
  height:200px;
  background-color: green;
  z-index: 2; 
  border-radius: 50% }
  
#box3{
  width:150px;
  height:150px;
  background-color: blue;
  z-index: 3 ;
  border-radius: 50%; }