
/** CSS RULES GO IN HERE */

section p#para1 a{
	color: #00FF00;
}

section p#para2 a{
	color:orange;
}
section p#para1 a{
	color:red;
}

section a:hover{
	font-weight:bold;
	background-color:pink;
}


