


body{
     
     /*background-image: URL("./images/background.jpg");*/
     background-color: 	#FFBBFF ;
    }

h1{
   text-align:cen; 
   font-family:sans-serif;
      }
      
ul{
   list-style-type: none;
   margin:0;
   padding:0;
   
  }
	
li {
   display: inline-block; 
   padding: 50px 30px 50px 30px;
   color: black;
   font-size: 22px;
   width: 60px;
   color: white;
   /*border-right: 1px solid white;*/
   
   
   }  
   
.menu{
      background-color: #CDC1C5;
      position: relative;
   bottom: 10px;
 }
   
.active{
        Color: black;
        /*padding: 14px 5px 0px 10px;/*/
         }
         
#images_hz {
overflow: hidden;
display: inline;
margin: 0 30px;
}

img{
     width:350px;
     height: 300px;
     margin: 0 20px;
     }
