
html{
  box-sizing:border-box; 
}

*, *:before, *after{
  box-sizing:inherit; 
}

body{
  background-color:;
 }
 
   #galaxy { /* why is this controlling the sun?, shouldn't be #sun*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);/*dont get how its shifting?*/
}
 
   
   #galaxy > #sun {
   background: radial-gradient(circle at 100px 100px, blue, white);/*what does 100px 100px do?*/
    border-radius: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;}
    z-index: 100;}/* ???????*?
   
/* formal syntax

<length> ] [ at <position> ]? ,
                 | [ ellipse || [<length> | <percentage> ]{2}] [ at <position> ]? ,
                 | [ [ circle | ellipse ] || <extent-keyword> ] [ at <position> ]? ,
                 | at <position> ,
                 <color-stop> [ , <color-stop> ]+ )
where <extent-keyword> = closest-corner | closest-side | farthest-corner | farthest-side
  and <color-stop> = <color> [ <percentage> | <length> ]? 
  */
 
#galaxy > #axis { /*controls axis on bottom-not working*/
    width: 100px;
    height: 140%;
    border: 10px dotted black;
    position: absolute;
    top: -20%;
    left: 50%;
    z-index: 1;
    transform: rotate(16deg);
}
#galaxy > .planets {
    border-radius: 100%; /*=circle*/
    position: absolute;
}

#galaxy > #planet1 {
  background: radial-gradient(circle at 0px 0px, #FF5500, #000000);
  top: 100px;
  left: 0px;
  width: 40px;
  height: 40px;
  z-index: 1;
}
