
section#mycontent > article {
  float: left;
  width: 200px;
  border: 2px solid #0088FF;
  background-color: #FFFF00;
  margin: 20px;
}

p#othertext {
    background-color: #CCCCCC;
}


.clearit{
	clear:left;
}
